@page
@model BakeItCountWeb.Pages.Home.IndexModel
@{
}

<h1 class="text-cocoa font-bungeeShade text-center text-8xl"> BAKE IT COUNT.</h1>

<p class="text-cocoa text-lg font-semibold text-left max-w-6xl mx-auto my-10">
    É sexta-feira no escritório e todos querem encerrar a semana com um momento descontraído, mas surge o velho problema:  quem vai organizar o bolo?
    É aqui que entra o Bake It Count, um sistema inovador para gestão colaborativa de compras de bolo.
</p>

<div>
    <div class="text-cocoa text-lg font-bold p-14 border-cocoa border-4 shadow-solid-cocoa rounded-2xl max-w-2xl mx-auto">
        “Porque no fim das contas, ninguém quer se
        preocupar com a vaquinha.
        Queremos apenas aproveitar o bolo juntos.”
    </div>

    <div class="my-20 flex justify-center gap-8 max-w-6xl mx-auto">
        <a href="/Login" class="text-4xl text-center font-bungeeInline text-peach font-bold p-5 border-peach border-4 shadow-solid-peach rounded-2xl ">
            FAZER LOGIN
        </a>

        <button class="text-4xl text-center font-bungeeInline text-peach font-bold p-5 border-peach border-4 shadow-solid-peach rounded-2xl ">
            CRIAR CONTA
        </button>
    </div>
</div>

<div class="max-w-6xl mx-auto">
    <h1 class="font-bungeeInline text-6xl text-left text-cocoa"> SOBRE </h1>
    <p class="text-cocoa text-lg font-semibold text-left  my-10">
        O Bake It Count é o sistema definitivo para gerenciar pedidos de bolos no escritório. Ele permite que cada colaborador cadastre o bolo que comprou, acompanhe métricas de consumo, participe de trocas de responsabilidade e receba notificações por e-mail.
    </p>
    <p class="text-cocoa text-lg font-semibold text-left  my-10">
        Como ele ajuda o seu escritório?
        <ul class="text-cocoa text-lg font-semibold text-left ">
            <li>
                Controle simplificado: veja quem comprou, quem vai trazer o próximo bolo e quem ainda precisa contribuir.
            </li>
            <li>
                Gamificação: conquistas tornam o processo divertido e engajam os colaboradores.
            </li>
            <li>
                Trocas fáceis: transferir a responsabilidade do bolo semanal nunca foi tão simples.
            </li>
            <li>
                Notificações automáticas: lembretes por e-mail para evitar esquecimentos e garantir que ninguém fique de fora.
            </li>
        </ul>
    </p>
    <p class="text-cocoa text-lg font-semibold text-left my-10">
        Nosso objetivo é transformar a compra e organização de bolos em um momento colaborativo, transparente e divertido para toda a equipe. Com o Bake It Count, cada bolo conta e a gestão de sexta-feira é prática e justa.
    </p>
</div>

<div class="max-w-6xl mx-auto">
    <h1 class="font-bungeeInline text-6xl text-left text-cocoa"> TOP 5 PAGADORES </h1>
    <ul class="my-10 text-xl font-bold flex flex-col gap-2">
        <li class="py-2 px-6 border-cocoa border-2 rounded-full flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8 text-peach">
                <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
                <text x="50%" y="55%" text-anchor="middle" dominant-baseline="middle"
                      font-size="10" fill="white" font-family="Arial">
                    1
                </text>
            </svg>
            <span class=" text-cocoa"> JÚLIA FONSECA </span>
            <span class=" text-mint ml-auto"> 6 BOLOS </span>
        </li>
        <li class="py-2 px-6 border-cocoa border-2 rounded-full flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8 text-peach">
                <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
                <text x="50%" y="55%" text-anchor="middle" dominant-baseline="middle"
                      font-size="10" fill="white" font-family="Arial">
                    2
                </text>
            </svg>
            <span class=" text-cocoa"> CAIO GARCIA </span>
            <span class=" text-mint ml-auto"> 5 BOLOS </span>
        </li>
        <li class="py-2 px-6 border-cocoa border-2 rounded-full flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8 text-peach">
                <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
                <text x="50%" y="55%" text-anchor="middle" dominant-baseline="middle"
                      font-size="10" fill="white" font-family="Arial">
                    3
                </text>
            </svg>
            <span class=" text-cocoa"> FULANO SILVA </span>
            <span class=" text-mint ml-auto"> 4 BOLOS </span>
        </li>
        <li class="py-2 px-6 border-cocoa border-2 rounded-full flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8 text-peach">
                <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
                <text x="50%" y="55%" text-anchor="middle" dominant-baseline="middle"
                      font-size="10" fill="white" font-family="Arial">
                    4
                </text>
            </svg>
            <span class=" text-cocoa"> CICLANO SANTOS </span>
            <span class=" text-mint ml-auto"> 3 BOLOS </span>
        </li>
        <li class="py-2 px-6 border-cocoa border-2 rounded-full flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8 text-peach">
                <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
                <text x="50%" y="55%" text-anchor="middle" dominant-baseline="middle"
                      font-size="10" fill="white" font-family="Arial">
                    5
                </text>
            </svg>
            <span class=" text-cocoa"> BELTRANO SEMSOBRENOME</span>
            <span class=" text-mint ml-auto"> 3 BOLOS </span>
        </li>
    </ul>
</div>